
#content1{
    font-size: 270%;
    font-style: Montserrat;
    padding-left:10%;
}
.center {
  margin: 0;
  position: absolute;
    left: 23%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container-sm{
    padding-top: 10%;
    font-size: 260%;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    color:burlywood;
}
.content2{
    padding-left: 10%;
    text-align: justify; 
    font-style: italic;
    font-size: 18px;
}
.container {
   padding-left: 10%;
}
.card img{
    width: 50%;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}